@charset "utf-8";
p{
text-align: center;
}
.success-message{
  color: green;
  font-style: #3c763d;
  background: #dff0d8;
  border:solid #c6e9a6;
  width: 400px; height: 40px;
  margin: 10px 0;
  padding-top: 15px;
  padding-left: 10px;

}

.error-message{
  color: pink;
  font-style: #a94442;
  background: #f2dede;
  border:solid #ebccd1;
  width: 400px; height: 40px;
  margin: 10px 0;
  padding-top: 15px;
  padding-left: 10px;

}

.info-message{
  color: blue;
  font-style: #3a87ad;
  background: #d9edf7 ;
  border:solid #bce8f1;
  width: 400px; height: 40px;
  margin: 10px 0;
  padding-top: 15px;
  padding-left: 10px;
}